.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; /* Adjust background as needed */
}

.signup-logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.signup-input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.signup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    margin-top: 10px;
}

.or-text {
    margin: 20px 0;
    color: #555;
}

.google-signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    margin-top: 10px;
}

.google-logo {
    width: 20px;
    margin-right: 10px;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}
